
**/build
**/desktop.ini
/results
/test
/docker_scripts
/kernels/dispositions
core
Rail3D_KPConv/
old_*

# VSCode related
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
